li{
    color: black;
    background-color: rgba(118, 218, 72, 0.911);
    border: 1px solid black;
    margin: 55px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.text-size{
    background-color: rgb(173, 99, 243);
    padding: 50px;
    margin: 50px;
    border: 1px solid black;
    width: 50%;
    color: rgb(29, 96, 155);
    text-shadow: 0.12cm;
    display: block;
    text-align: center;
}

.container1{
    /* Border:width, style color -->shorthand */
    height: 100px;
    width: 100px;
    border: 1px solid green;
    border-radius: 12px;
    background-color: blue;
    margin: 5px;
} 
.container2{
    /* Border:width, style color -->shorthand */  
    height: 100px;
    width: 100px;
    border: 1px solid green;
    border-radius: 12px;
    background-color: blue;
    margin: 5px;
}
.container3{
    /* Border:width, style color -->shorthand */
    height: 100px;
    width: 100px;
    border: 1px solid green;
    border-radius: 12px;
    background-color: blue;
    margin: 5px;
}

div{
    background-color: rgb(235, 92, 36);
    
}